   body {
       font-family: 'Trebuchet MS', Arial, sans-serif;
   }

   header {
       background: #121212;
   }

   .caixa {
       position: relative;
       margin: 0 auto;
   }

   nav {
       position: absolute;
       top: 60px;
       right: 0;
       padding-right: 90px;
   }

   nav li {
       display: inline;
       margin: 0 0 0 15px;
   }

   nav a {
       text-transform: uppercase;
       color: white;
       font-weight: bold;
       font-size: 22px;
       text-decoration: none;
   }

   nav a:hover {
       color: aqua;
       text-decoration: double;
   }

   header img {
       width: 250px;
       height: 100px;
       padding: 10px;
   }

   header img:hover {
       opacity: 50%;
   }

   section {
       height: 70vh;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       gap: 5px;
       background: linear-gradient(90deg, #16171f 0%, #0c0146 100%);
   }

   body h2 {
       padding: 25px;
       font-size: 32px;
       color: rgb(255, 254, 254);
       text-align: center;
   }

   main {
       background-color: rgb(223, 223, 223);
       padding: 10px;
       border-radius: 10px;
       width: 100%;
       max-width: 300px;
       min-height: 200px;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .content {
       display: flex;
       flex-direction: column;
       width: 100%;
       gap: 10px;
   }

   .spanQtd {
       text-align: end;
   }

   .answers {
       display: flex;
       flex-direction: column;
       gap: 5px;
   }

   button {
       width: 100%;
       text-align: start;
       padding: 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       background-color: rgb(0, 197, 197);
       color: rgb(255, 255, 255);
   }

   .finish {
       display: none;
       flex-direction: column;
       gap: 10px;
   }

   .finish button {
       text-align: center;
   }

   footer {
       background-color: #000000;
       display: flex;
       padding: 20px;
       justify-content: center;

   }

   footer img {
       width: 50px;
       height: 50px;
   }

   footer p {
       padding: 20px;
       color: white;
       font-size: 17px;
       text-align: justify;
       align-items: center;
   }