body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: #121212;
}

.caixa {
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 40px;
    right: 0;
    padding-right: 90px;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    text-decoration: double;
}

header img {
    width: 210px;
    height: 60px;
    padding: 15px;
}

header img:hover {
    opacity: 50%;
}

main {
    background-color: rgba(29, 88, 58, 0.546);
}

main img {
    width: 100%;
    height: 500px;
    opacity: 80%;
}

main img:hover {
    opacity: 100%;
}

.conteudo {
    background-color: rgba(40, 109, 109, 0.111);
    display: block;
    width: 900px;
    height: max-content;
    text-decoration: none;
    margin-left: 230px;
    text-align: justify;
    color: rgb(215, 215, 215);
    padding: 10px;
    line-height: 25px;
}

.conteudo a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

h2 {
    padding: 25px;
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 2px black;
}

.answer {
    background-color: rgba(29, 88, 58, 0.0);
    padding: 20px;
}

button {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 570px;
    box-shadow: 1px 1px 1px rgba(4, 37, 255, 0.314);
    margin-bottom: 30px;
}

button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(23, 255, 220, 0.5);
}

footer {
    background-color: #000000;
    display: flex;
    padding: 20px;
    justify-content: center;

}

footer img {
    width: 50px;
    height: 50px;
}

footer p {
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: justify;
    align-items: center;
}