body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: #121212;
}

.caixa {
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 60px;
    right: 0;
    padding-right: 90px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    text-decoration: double;
}

header img {
    width: 250px;
    height: 100px;
    padding: 10px;
}

header img:hover {
    opacity: 50%;
}

main {
    background-color: rgb(0, 0, 59);
}

main img {
    height: 70%;
    width: 100%;
}

h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 2px #0458ff;
}
.text-dem {
    display: block;
    position: relative;
    justify-content: center;
    text-align: justify;
    color: white;
    padding: 50px;
    line-height: 25px;
}

footer {
    background-color: #000000;
    display: flex;
    padding: 20px;
    justify-content: center;

}

footer img {
    width: 50px;
    height: 50px;
}

footer p {
    padding: 20px;
    color: white;
    font-size: 17px;
    text-align: justify;
    align-items: center;
}